/* Add/include this file as <profiledir>/chrome/userChrome.css to have
   tabs located beneath the address bar.

   To find the <profiledir>, open "about:support" and look for the
   Profile Directory and open it.  You will need to create the chrome
   directory if it's not there.

   To enable this, go into about:config and change

       toolkit.legacyUserProfileCustomizations.stylesheets

   to true.
*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* TABS: on bottom */

#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {-moz-box-ordinal-group:10}
#TabsToolbar {-moz-box-ordinal-group:1000!important}

#TabsToolbar {
position: absolute !important;
bottom: 0 !important;
width: 100vw !important;
}

#tabbrowser-tabs {
 width: 100vw !important;
}
#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {padding-bottom: var(--tab-min-height) !important;}
